.c1{color:#005B9A;}.c2{color:#118C4E;}.c3{color:#7A647E;}.c4{color:#303030;}
.btn{font-size:16px;}
h1,h2,h3,h4 {font-family: 'Lobster', Georgia, Times, serif;}
button {font-family: 'Cabin', Helvetica, Arial, sans-serif;}
body{
	max-width:700px;
	height:1100px;
	background: -moz-linear-gradient(270deg, rgba(144,182,232,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(144,182,232,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(144,182,232,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(144,182,232,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(144,182,232,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(144,182,232,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90B6E8', endColorstr='#FFFFFF',GradientType=0 ); /* ie6-9 */
}